* {
    padding:0;
    margin:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

}


section {

    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    overflow: hidden;


}

body section {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    background: #ffffff;
    opacity: 0.95;
    height: 100%; 
    overflow-y: auto; /* Ultimo agregado */
}


