<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccesoControl</servlet-name>
        <servlet-class>Controladores.AccesoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>V_CalificacionesServlet</servlet-name>
        <servlet-class>Controladores.V_CalificacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccesoControlAlunnos</servlet-name>
        <servlet-class>Controladores.AccesoAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnosServlet</servlet-name>
        <servlet-class>Controladores.AlumnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrerasServlet</servlet-name>
        <servlet-class>Controladores.CarrerasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriasServlet</servlet-name>
        <servlet-class>Controladores.MateriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaServlet</servlet-name>
        <servlet-class>Controladores.ConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntajesServlet</servlet-name>
        <servlet-class>Controladores.PuntajesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscadorServlet</servlet-name>
        <servlet-class>Controladores.BuscadorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccesoControl</servlet-name>
        <url-pattern>/AccesoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>V_CalificacionesServlet</servlet-name>
        <url-pattern>/V_CalificacionesServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>AccesoControlAlunnos</servlet-name>
        <url-pattern>/AccesoControlAlunnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnosServlet</servlet-name>
        <url-pattern>/AlumnosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrerasServlet</servlet-name>
        <url-pattern>/CarrerasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriasServlet</servlet-name>
        <url-pattern>/MateriasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaServlet</servlet-name>
        <url-pattern>/ConsultaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntajesServlet</servlet-name>
        <url-pattern>/PuntajesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscadorServlet</servlet-name>
        <url-pattern>/BuscadorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
